.profile {
  width: 40%;
  transition: 0.5s;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
}
.profile:hover {
  transition: 0.5s;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.5);
}

.containerabout {
  margin-bottom: 2vh;
  margin-top: 2vh;
  min-height: 85vh;
}

.card-body {
  padding: 1.7rem;
}
